<div class="auth__container">
    <span class="logo">MyDiary</span>
    <% if notice %>
        <p class="text-danger"><%= notice %></p>
    <% end %>
    <div class="m-2">
        <%= form_for(:session, url: signin_path) do |f| %>
            <div class="d-flex">
                <p><%= icon("person-circle", class: "me-2") %></p>
                <%= f.text_field :name, class: 'form-control mb-3', placeholder: 'ユーザー名' %>
            </div>
            <div class="d-flex">
                <p><%= icon("lock-fill", class: "me-2") %></p>
                <%= f.password_field :password, class: 'form-control mb-3', placeholder: 'パスワード' %>
            </div>
            <%= f.label :remember_me, class: 'mb-3' do %>
                <%= f.check_box :remember_me %>
                <span>ログイン状態を保持</span>
            <% end %>
            <%= f.submit "ログイン", class: "btn btn-success mb-2" %>
        <% end %>
    </div>
    <%= link_to "アカウント登録はこちら", signup_path %>
</div>