<div class="auth-flame">
    <div class="auth-forms">
        <span class="app-logo">MyDiary</span>

        <p><%= notice %></p>
        <%= form_for(:session, url: login_path) do |form| %>

            <%= form.text_field :name, class: 'form form-control', placeholder: 'ユーザー名' %>
            <%= form.password_field :password, class: 'form form-control', placeholder: 'パスワード' %>
            <%= form.label :remember_me, class: 'form' do %>
                <%= form.check_box :remember_me %>
                <span>ログイン状態を保持</span>
            <% end %>
            <br>
            <%= form.submit "ログイン", class: "form btn btn-success" %>
        <% end %>

        <p class="form"><%= link_to "ユーザー作成はこちら", signup_path %></p>
    </div>
</div>