<div class="form">
    <%= form_with(model: @diary, local: true) do |form| %>
        <div class="form-date">
            <span>日付</span>
            <%= form.date_select :start_time %>
        </div>
        <div class="form-title">
            <span>タイトル</span>
            <%= form.text_field :title %>
        </div>
        <div class="form-content">
            <span>本文</span>
            <%= form.rich_text_area :content %>
        </div>
        <div class="form-submit">
            <%= form.submit '更新' %>
        </div>
    <% end %>
</div>