<%= render 'header' %>
<div class="notice">
    <p><%= notice %><p>
</div>
<div class="main">
    <%= month_calendar events: @user.diaries do |date, diaries| %>
        <%= date.day %>
        <% diaries.each do |diary| %>
            <div>
                <%= link_to diary.title, diary %>
            </div>
        <% end %>
    <% end %>
</div>
<div class="footer">
    <%= link_to '日記を作る', new_diary_path, class: 'btn btn-info' %>
</div>