<%= render 'header' %>
<%= render 'notice' %>
<main>
    <h3 class="text-header">日記リスト</h3>
    <%= month_calendar events: @user.diaries do |date, diaries| %>
        <%= date.day %>
        <% diaries.each do |diary| %>
            <div>
                <%= link_to diary.title, diary %>
            </div>
        <% end %>
    <% end %>
    <div class="pt-3 text-center">
        <%= link_to '日記を作る', new_diary_path, class: 'btn btn-info' %>
    </div>
</main>