<%= render 'header' %>
<%= render 'notice' %>
<main class="px-4">
    <div class="show__contents p-4">
        <div class="s__contents-title">
            <div class="p-2 bg-turquoise text-center text-white">
                <h5><%= @diary.start_time.try(:strftime, "%Y") %></h5>
                <h4><%= @diary.start_time.try(:strftime, "%m / %d") %></h4>
            </div>
            <div class="m-auto text-darkblue">
                <h2><%= @diary.title %></h2>
            </div>
        </div>
        <p><%= @diary.content %></p>
    </div>
    <div class="m-3 text-center">
        <%= link_to '再編集', edit_diary_path(@diary.id), class: 'btn btn-info' %>
        <%= link_to '戻る', root_path, class: 'btn btn-primary' %>
        <%= link_to '削除', @diary, method: :delete, class: 'btn btn-danger', data: { confirm: 'この日記を削除しますか？' } %>
    </div>
</main>