<%= render 'header' %>

<p id="notice"><%= notice %></p>
<h1><%= @diary.start_time.strftime("%Y-%m-%d") %></h1>
<h1><%= @diary.title %></h1>
<p><%= @diary.content %></p>
<%= link_to '再編集する', edit_diary_path(@diary.id) %>
<%= link_to '削除する', @diary, method: :delete, data: { confirm: 'この日記を削除しますか？' } %>