<div class="auth-flame">
    <div class="auth-forms">
        <span class="logo">MyDiary</span>

        <p><%= notice %></p>
        <%= form_for(@user, url: signup_path ) do |f| %>
            <%= f.text_field :name, class: 'form form-control', placeholder: 'ユーザー名' %>
            <%= f.password_field :password, class: 'form form-control', placeholder: 'パスワード' %>
            <%= f.password_field :password_confirmation, class: 'form form-control', placeholder: 'パスワード再入力' %>
            <%= f.submit 'ユーザー登録', class: 'form btn btn-primary' %>
        <% end %>

        <%= link_to 'ログインに戻る', login_path %>
    </div>
</div>